<script src="{{ url_for('static', filename='js/i18n.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script src="{{ url_for('static', filename='js/features/mailbox_compact.js') }}"></script>
    <script src="{{ url_for('static', filename='js/features/groups.js') }}"></script>
    <script src="{{ url_for('static', filename='js/features/temp_emails.js') }}"></script>
    <script src="{{ url_for('static', filename='js/features/accounts.js') }}"></script>
    <script src="{{ url_for('static', filename='js/features/emails.js') }}"></script>
